<div class="dialog">
    <h1 mat-dialog-title class="title">{{category}}<h1 style="color:green">${{value}}</h1>
    </h1>
    <div mat-dialog-content>Q: {{question}}</div>
    <div style="color:blue" *ngIf="isAnswerShowing" mat-dialog-content>A: {{answer}}</div>
    <div mat-dialog-actions>
        <button (click)="showAnswer()" mat-button style="background-color:lightblue">{{displayAnswerText}}</button>
    </div>
    <div mat-dialog-actions>
        <div>Who got it right?</div>
        <button (click)="playerOneCorrect()" style="margin-left: 10px; margin-right: 10px;" mat-button>Player 1</button>
        <button (click)="playerTwoCorrect()" mat-button style="margin-right: 10px;">Player 2</button>
        <button mat-button mat-dialog-close>No one</button>
    </div>


</div>