.header{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 25px
}

.background{
    background-image: url(src/assets/jeopardyLogo2.jpeg);
    background-position: top;
    height: 600px;
}

.pointsBoxes{
    margin-top: 15px;
    width: 80px;
    height: fit-content;
    text-align: center;
    margin-right: 10px;
}

.scoreBoxes{
    margin-top: 15px;
    width: 80px;
    height: fit-content;
    margin-right: 10px;
    background-color: green;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
}

.row{
    display: inline-flex;
}

.categoryBox{
    margin-top: 15px;
    width: 80px;
    height: fit-content;
    background-color: skyblue;
    text-align: center;
    margin-right: 10px
}

.center{
    text-align: center;
}

.disabled{
    color: white;
    pointer-events: none;
}
